.background-fvis::before {
    background-image: url("/images/fvis-new-masjid.png");
    background-color: #ccc;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.35;
    content: "";
}

.background-fvis {
    position: relative; 
    
}

.zelle-logo, .paypal-donate-button, .check-image {
    display: block;
    margin: 0 auto;
    width: 125px;
    padding: 10px 0 25px 0;
}




.donate-button {
    display: block;
    margin: 0 auto;
}

.fvis-video {
    width: 350px;
    height: 197px;
    display: block;
    margin: 0 auto;
  }

.body-text {
    width: 80%;
    display: block;
    margin: 0 auto;
    padding: 10px 0;
}

.donate-text {
    padding-top: 30px;
}

footer {
    background-color: #02260F;
    color: #fff;
    margin-top: 30px;
    width: 100%;
    font-size: .85em;
}

.footer-hr {
    width: 50%;
    max-width: 520px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.footer-logo {
    width: 200px;
    height: 80px;
    display: block;
    margin: 0 auto;
}

@media (min-width: 720px) {
   
    .fvis-video {
        width: 640px; 
        height: 360px;
    }

    .body-text {
        width: 520px;
    }
    .zelle-logo {
        width: 165px;
    }
    .paypal-donate-button {
        width: 165px;
    }
}